@import "tailwindcss";

/* defaults to allow full-screen layouts */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1; /* make map below other UI elements */
}

/* custom styles for Bus/LRT markers */
.custom-bus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bus-marker {
  background-color: #1d4ed8; /* GRT Blue */
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 800;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease-in-out;
}

.bus-marker:hover {
  transform: scale(1.2);
  z-index: 1000 !important;
}

/* LRT-specific styling */
.lrt-marker {
  background-color: #7c3aed; /* ION Purple */
}



/* make bus move smoothly when data is updated */
.leaflet-marker-pane .custom-bus-icon {
  transition: transform 1s linear !important;
}

/* disable transitions during map interaction */
.leaflet-zoom-anim .custom-bus-icon,
.leaflet-pan-anim .custom-bus-icon,
.leaflet-zooming .custom-bus-icon,
.leaflet-drag-anim .custom-bus-icon {
  transition: none !important;
}


@keyframes pulse-glow {
  0% { box-shadow: 0 0 5px rgba(147, 51, 234, 0.5); }
  50% { box-shadow: 0 0 20px rgba(147, 51, 234, 0.8); }
  100% { box-shadow: 0 0 5px rgba(147, 51, 234, 0.5); }
}



.hover-scrollbar::-webkit-scrollbar { height: 4px; width: 4px; }
.hover-scrollbar::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }